
body {
  background: #000;
  color: #fff;
  font-family: "Freckle Face";
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

#viewport {
  width: 800px;
  height: 500px;
}

a {
  color: #c50;
}
a:hover {
  color: #e71;
}

a.openfull {
  float: right;
}

footer {
  margin: 20px auto;
  text-align: center;
}
